.pizzaCard {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 33.3333%;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
}

.pizzaWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pizzaWrapper:hover {
  background-color: whitesmoke;
  transform: scale(1.1);
  transition: 1.2s ease-in-out;
  border-radius: 10px;
}

.pizza-title {
  font-size: 18px;
  font-weight: bold;
  color: #d1411e;
}

.pizza-price {
  font-size: 20px;
  font-weight: bold;
  color: #666;
}

.pizza-desc {
  text-align: center;
  color: #777;
  margin: 10px;
}

.pizza-img {
  border-radius: 10px;
}
