.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://www.pizzafan.gr/assets/site/images/1200nsl.png");
  background-color: rgb(253, 242, 179);
  padding-top: 30px;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.newsletter-container {
  min-height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
}
.newsletter-container p {
  color: #808080 !important;
  font-size: 21px;
  font-family: "PFHandbookPro";
}

.form-title {
  color: #ec6907 !important;
  font-size: 41px !important;
  font-family: "PFHandbookPro";
}

.form input {
  padding: 0 60px 0 15px;
  width: 60vw;
  height: 43px;
  border: none;
  border-radius: 23px;
  position: relative;
}
.subscribe-btn {
  background-color: #ec6907;
  color: #fff;
  width: 115px;
  height: 43px;
  border: none;
  left: -115px;
  position: relative;
  border-radius: 0px 23px 23px 0;
}

@media (max-width: 480px) {
  .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .newsletter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .subscribe-btn {
    position: relative;
    text-align: center;
    left: 20%;
    margin-top: 20px;
  }
  .form input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}
