.navbar {
  background-color: #28a745;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.imgCentre-nav {
  width: 3vw;
  background-color: lightyellow;
}

.navRight {
  display: flex;
  cursor: pointer;
  align-items: center;
}
.navIcon {
  padding: 10px;
  font-size: 20px;
}

.login {
  padding: 10px;
}

.register {
  padding: 10px;
}

.cart {
  font-size: 20px;
}

.counter {
  position: relative;
  bottom: 15px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  padding: 3px;
  font-weight: bold;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  padding: 10px;
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cart-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cart-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.cart-img {
  width: 19vw;
  object-fit: contain;
}

.cart-quantity {
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #75de92;
  width: 30px;
  text-align: center;
}

.cart-price {
  font-weight: bold;
  font-size: 18px;
  align-items: center;
}

.minus {
  position: relative;
  font-size: 20px;
  top: 25px;
  right: 30px;
  cursor: pointer;
}

.plus {
  position: relative;
  font-size: 20px;
  bottom: 24px;
  left: 30px;
  cursor: pointer;
}

.trash {
  position: relative;
  color: red;
  font-size: 18px;
  left: 100%;
  cursor: pointer;
}

.popover-header {
  text-align: center;
  font-weight: bold;
}

@media (max-width: 380px) {
  .navLeft img {
    width: 30vw;
  }

  .navIcon {
    font-size: 15px;
  }

  .cart {
    font-size: 15px;
  }

  .counter {
    font-size: 15px;
  }
}
