.navbar {
  background-color: #28a745;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.imgCentre-nav {
  width: 3vw;
  background-color: lightyellow;
}

.navRight {
  display: flex;
  cursor: pointer;
  align-items: center;
}
.navIcon {
  padding: 10px;
  font-size: 20px;
}

.login {
  padding: 10px;
}

.register {
  padding: 10px;
}

.cart {
  font-size: 20px;
}

.counter {
  position: relative;
  bottom: 15px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  padding: 3px;
  font-weight: bold;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  padding: 10px;
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
